@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');

:root {
    --brightness: 1;
    --duration: 500ms;
    --background-color: #fff;
    --foreground-color: rgba(28, 28, 28, 0.5);
    --overlay-color: rgb(255, 140, 10);
    --temperature: 0;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    overscroll-behavior-y: none;
}

body {
    background-color: #000;
    font-family: 'Inconsolata', monospace;
}

.light {
    background-color: var(--background-color);
    filter: brightness(var(--brightness));
    height: 100vh;
    width: 100vw;
    inset: 0;
    position: absolute;
    z-index: -10;
    transition-duration: var(--duration);
    transition-property: background-color, border-color, color, fill, filter,
        opacity, outline-color, stroke, text-decoration-color;
    transition-timing-function: ease-out;
}

.light::after {
    content: '';
    position: absolute;
    inset: 0;
    background: radial-gradient(
        circle,
        var(--overlay-color) 30%,
        color-mix(in srgb, var(--overlay-color), #000 40%)
    );
    opacity: var(--temperature);
    mix-blend-mode: multiply;
    pointer-events: none;
    transition-duration: var(--duration);
    transition-property: background-color, border-color, color, fill, filter,
        opacity, outline-color, stroke, text-decoration-color;
    transition-timing-function: ease-out;
}

main {
    align-items: center;
    color: rgba(28, 28, 28, 0.5);
    display: flex;
    font-weight: bold;
    height: 100vh;
    justify-content: center;
    width: 100vw;

    .texts {
        align-items: center;
        display: flex;
        flex-direction: column;
        height: min(80vh, 40rem);
        justify-content: space-between;
        text-align: center;

        *::selection {
            background: transparent;
            color: rgba(28, 28, 28, 0.5);
        }
    }

    .title {
        align-items: center;
        color: rgba(28, 28, 28, 0.5);
        display: flex;
        font-size: 2.5rem;
        gap: 0.25rem;
        justify-content: center;
        text-align: center;
    }

    .instructions {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
}

label {
    text-decoration: underline;
    text-underline-offset: 2px;
}

input[type='color'] {
    display: none;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fade-out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        visibility: hidden;
    }
}
